.search-text {
    border-radius: 13px;
    font-size: 10px;
    border: none;
    font-weight: 500;
  }
  .search-text:focus {
      box-shadow: none;
  }
  .search-icon {
    position: absolute;
    background: orange;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 9px;     
 }
 .add-icon {
    background: orange;
    font-size: 10px;
    border-radius: 20px;
    color: white;
 }
 .add-icon:hover {
     color: white;
 }
 .icon-add {
    padding-right: 10px;
 }
 .content1-btn1-icon{
     margin-right:10px;
 }
 .content1-btn1-icon2{
     margin-left:14px;
 }
 .lead-middle-content3 {
 background-color: white;
 border-radius: 20px;
 color:#8080899c;
 margin-bottom:20px;
 /* overflow-x: auto; */
 }


 .content3-tab-left .all-leads a {
     color: #01214a;
     font-weight: 600;
 }
 .content3-tab-left, .content3-tab-right{
    margin-bottom:10px;
    text-align: end;
 }
 .content3-tab-left1 a {
    margin-right:-12px;
    color:#cdcdcd;
    font-weight: 600;
  }

  .content3-tab-left1:hover a {
      text-decoration: none;
      color:#01214a;
  }
 .content3-tab-right1 {
     margin-right: 12px;
     color:#cdcdcd;
 }
 .content3-tab-right1:active{
    color:#01214a;
 }
 .lead-middle-details {
    overflow-x: auto;
 }
 .tablerow:hover {
     background: #2f81e7;
 }
 .tablerow .tabledata {
     vertical-align: middle;
     font-size: small;
     color: #a4bdca;
 }
 .tablerow:hover .tabledata{
     color: white;
 }
 .tablerow .tabledata-check {
     vertical-align: middle;
     font-size: small;
     width: 7%;
     border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }
 .tabledata-bottom{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
 }
 .tablerow .tabledata-image {
     width:11%;
 }
 .table-image {
    border-radius: 64px;
    width: 80%;
 }
 .action-icon{
margin-left:10px
 }
 .checkbox-table {
     width: 18px;
     height: 18px;
 }
 .lead-middle-content::-webkit-scrollbar{
     width:0.2rem;
 }
 .lead-middle-content::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(2, 2, 0, 0.3); 
 }
 .lead-middle-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;

 }

 .page-cont {
     display:flex;
     justify-content: space-between;
     align-items: center;
     margin-top:20px;
 }

 .page-child-text{
    color: #a4bdca;
    font-size: 13px;
    font-weight: 500;
 }

 .page-main-list-container .page-main-item1 .pagelinkitem1, 
 .page-main-list-container .page-main-item5 .pagelinkitem4, 
 .page-main-list-container .page-main-item6 .pagelinkitem5  {
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     margin: 5px;
     background-color: #17345a;
     color:white;
     padding:3px 7px;
    
 }
 .pagelinkitem2, .pagelinkitem3 {
     margin:5px;
     background-color: #eff2f9;
     border:none;
     color:#cad8e2;
     padding:3px 7px;

 }
 .page-main-list-container .page-main-item2 .pagelinkitem2:hover, 
 .page-main-list-container .page-main-item3 .pagelinkitem3:hover{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 5px;
    background-color: #17345a;
    color:white;
     
 }

 /* checkbox */
 .check-custom{
     position:relative;
     vertical-align: text-top;

 }
 .check-custom input {
     display:none;
 }
 .check-custom:hover .check-box{
     background: #2f81e7;
     border:1px solid white;
 }
 .check-box {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #a4bdca;
    border-radius: 5px;
 }
  .check-custom input:checked + .check-box::after {
    content:"";
    width:9px;
    height:5px;
    position: absolute;
    top:30%;
    left:30%;
    border-left:2px solid white;
    border-bottom:2px solid white;
    transform:rotate(-45deg);
    transition: scale(0.2) ease-in;
    
 }
  .check-custom input:checked + .check-box::before{
    content:"";
    width:9px;
    height:5px;
    position: absolute;
    top:30%;
    left:30%;
    border-left:2px solid blue;
    border-bottom:2px solid blue;
    transform:rotate(-45deg); 
 /* checkbox */